/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Styles or Utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* all */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}
/* header */
header {
    width: 100%;
    position: relative;
    background-color: rgb(45, 37, 160);
}

/* navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(45, 37, 160);
}

.logo img {
    height: 45px;
}

nav ul {
    display: flex;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 2px;
    padding: 0px 21px;
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 1px;
}
/* All button */
.login-btn, .watch-live-btn, .watch-now-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 150px;
    height: 44px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login{
    margin-left: 10px;
}
.fa-sign-in-alt{
    color: #FFFFFF;
}

/* All button hover */
.login-btn:hover,
.watch-live-btn:hover,
.watch-now-btn:hover,
.read-more-btn a:hover{
     background-color: #f51466;
     transition: all ease 0.2s;
}


nav ul li a:hover {
    background-color: #E02C6D;
    color: #FFFFFF;
    transition: all ease 0.2s;
    border-radius: 6px;
}

/* navigation end */

/* main section */
/* Home */
.content {
    background-color: rgb(45, 37, 160);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main-text h1{
     /* margin: top right down left */
     width: 485px;
     height: 230px;
     margin: 207px 102px 240px 156px;
     font-size: 62px;
     font-weight: 600;
     line-height: 80px;
     color: #FFFFFF;
}

.Footballer-banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
}

.live{
    margin-top: -200px;
    margin-left: 156px;
    margin-bottom: 169px;
}
.fa-arrow-right{
    padding-left: 8px;
    color: #FFFFFF;
}


/* players */

.play{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 1px;
}
.players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   color: #1E1E1E;
   padding-top: 40px;
   padding-left: 150px;
}
.player{
     box-shadow: 5px 10px 30px rgb(236, 228, 228);
     width: 300px;
     height: 520px;
     border-radius: 3px;
     padding-top: 20px;
     padding-left: 15px;
}
.player:hover{
    transform: translateY(-10px);
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
    transition: all ease 0.2s;
}
.player-1-pic img {
    width: 250px;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-details{
        margin-left: 16px;
        font-size: 18px;
}
.player-details h3{
   color: #000000;
   font-size: 25px;
   font-weight: bold;
}
.player-details p{
    color: #747474;
    font-size: 0.9rem;
    margin: 0px;
    padding-bottom: 70px;
    text-align: center;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
 .read-more-btn a{
     background-color: #E02C6D;
     color: #FFFFFF;
     width: 100px;
     height: 24px;
     font-weight: 400;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 65px;
     border-radius: 5px;
 }


/* highlights */

.highlight{
     background-color: rgb(255, 255, 255);
     display: grid;
     grid-template-columns: repeat(2, 1fr);
}
.highlight-text h1{
      width: 400px;
      height: 175px;
      margin: 180px 90px 0px 126px;
      font-size: 51px;
      font-weight: 650;
      line-height: 65px;
      color: #04021a;
}
.highlight-text p{
     width: 400px;
     height: 0px;
     margin: 20px 102px 130px 126px;
     font-size: 14px;
     font-weight: 400;
     line-height: 30px;
     color: #686060;
}
.watch{
    /* margin-top: -370px; */
    margin-left: 126px;
    margin-bottom: 169px;
    font-size: 14px;
}
.highlight-video{
    margin-left: 25px;
    margin-top: 160px;
}

.highlight-video iframe{
    border-radius: 5px;
    border: none;
}


/* Footer */

footer{
    display: grid;
    justify-content: center;
    align-items: center;
}
.conmbol-logo{
    padding-left: 300px;
}
.conmbol-logo img{
    width: 60%;
    height: 60%;
    padding-left: 200px;
}
.social-media{
   padding-left: 580px;
}
.fa-instagram{
    padding-right: 20px;
    color: rgb(221, 16, 61);
}
.fa-futbol{
    padding-right: 20px;
    color: rgb(20, 69, 231);
}
.fa-twitter{
    padding-right: 20px;
    color: rgba(20, 147, 231, 0.973);
}
.fa-youtube{
    padding-right: 20px;
    color: rgba(248, 27, 27, 0.973);
}

.copyright{
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
     padding-bottom: 60px;
}


/* Media queries */